<div class="mt-2 pr-3 text-hackernews-story-gray">
    <% items&.each do |item| %>
        <div class="mb-1">
            <!-- # Story row 1 -->
            <div class="flex flex-row items-center">

                <% # TODO Refactor so this workaround isn't neccessary %>
                <% if items.length > 1 %>
                    <div class="w-6 text-right"><%= item.rank %>.</div>
                <% end %>

                <div class="size-[10px] mx-0.5">
                    <a href=<%= root_url %>>
                        <%= image_tag "triangle.svg" %>
                    </a>
                </div>

                <div>

                    <% # TODO: For the case of Ask HN items, the link should be the item details view %>
                    <a class="text-black" href="<%= item.url %>" target="_blank">
                        <%= item.title %>
                    </a>

                    <span class="text-small">
                        <% # TODO: Make this link go to `/from`, where it lists all posts from that site %>
                        <a href=<%= root_url %>><%= item.link_domain_name %></a>
                    </span>
                </div>

            </div>

            <!-- # Itmem row 2 -->
            <div class="flex flex-row text-xsmall">

                <% # TODO: story.score_string functionality belongs only in front-end. %>
                <% # TODO: `/user` link %>
                <% # TODO: Add score_string logic to item_controller, or refactor %>
                <div class="ml-10">
                    <%= item.score_string %> <%= time_ago_in_words(item.created_at) %> ago
                </div>

                <div class="mx-1">
                    |
                </div>

                <% # TODO: Make url hide item and refresh list %>
                <div class="mr-1">
                    <a href=<%= root_url %>>hide</a>
                </div>

                <div class="mr-1">
                    |
                </div>

                <div>
                    <% # TODO: make url direct to item view %>
                    <% if item.num_comments && item.num_comments > 0 %>
                        <a href=<%= show_item_path({ id: item.id }) %>><%= item.num_comments %> <%= item.num_comments == 1 ? "comment" : "comments" %></a>
                    <% else %>
                        <a href=<%= show_item_path({ id: item.id }) %>>discuss</a>
                    <% end %>
                </div>
            </div>
        </div>

    <% end %>

    <% # TODO refactor so this workaround isn't necessary %>
    <% if @page != nil %>
        <div class="ml-10 mt-1 text-black">
            <%= button_to "More", { action: "index" }, { method: :get, params: { page: @page + 1 } } %>
        </div>
    <% end %>
</div>
