
<div class="w-full h-6 flex flex-row items-center justify-start bg-hackernews-orange">


    <% # Hacker News nav menu %>
    <% # [Y] *Hacker News* new | past | comments | ask | show | jobs | submit     ...       login %>

    <%= render partial: "shared/nav/logo" %>

    <div class="w-full flex flex-row mx-1 relative space-x-1">

        <% # Hacker News title %>
        <%= render partial: "shared/nav/hackernews" %>

        <%= render partial: "shared/nav/links" %>

        <% if current_page?(controller: "past", action: "index") %>
            <%= render partial: "shared/nav/past_date" %>
        <% end %>

        <% # TODO: login link %>
        <div class="absolute right-0" >
            <a href="<%= root_path %>">login</a>
        </div>

    </div>

</div>
