<%= render partial: "shared/nav" %>

<div class="mt-2 pr-3 text-hackernews-story-gray">
    <% @items.each do |item| %>
        <div class="mb-1">
            <!-- # Item row 1 -->
            <div class="flex flex-row items-center">

                <% # TODO Refactor so this workaround isn't neccessary %>
                <% if @items.length > 1 %>
                    <div class="w-6 text-right"><%= item.rank %>.</div>
                <% end %>

                <% # TODO Refactor this as well %>
                <% if defined?(is_item_view) %>
                    <div class="size-[10px] mx-2">
                        <a href=<%= root_url %>>
                            <%= image_tag "triangle.svg" %>
                        </a>
                    </div>
                <% else %>
                    <div class="size-[10px] mx-0.5">
                        <a href=<%= root_url %>>
                            <%= image_tag "triangle.svg" %>
                        </a>
                    </div>
                <% end %>

                <div>

                    <% # TODO: For the case of Ask HN items, the link should be the item details view %>
                    <a class="text-black visited:text-hackernews-story-gray" href="<%= item.url %>" target="_blank">
                        <%= item.title %>
                    </a>

                    <span class="text-small">
                        <% # TODO: Make this link go to `/from`, where it lists all posts from that site %>
                        <a href=<%= root_url %>><%= item.link_domain_name %></a>
                    </span>
                </div>

            </div>

            <!-- # Itmem row 2 -->
            <div class="flex flex-row text-xsmall">

                <% # TODO: item.score_string functionality belongs only in front-end. %>
                <% # TODO: `/user` link %>
                <% # TODO: Add score_string logic to item_controller, or refactor %>
                <% if defined?(is_item_view) %>
                    <div class="ml-7">
                    <%= item.score_string %> <%= time_ago_in_words(item.time) %> ago
                    </div>
                <% else %>
                    <div class="ml-10">
                    <%= item.score_string %> <%= time_ago_in_words(item.time) %> ago
                    </div>
                <% end %>

                <div class="mx-1">
                    |
                </div>

                <% # TODO: Make url hide item and refresh list %>
                <div class="mr-1">
                    <a href=<%= root_url %>>hide</a>
                </div>

                <div class="mr-1">
                    |
                </div>

                <div>
                    <% # TODO: make url direct to item view %>
                    <% if item.descendants.is_a?(Integer) && item.descendants > 0 %>
                        <a href=<%= news_item_path(id: item.hn_id) %>><%= item.descendants %> <%= item.descendants == 1 ? "comment" : "comments" %></a>
                    <% else %>
                        <a href=<%= news_item_path(id: item.hn_id) %>>discuss</a>
                    <% end %>
                </div>
            </div>
        </div>

    <% end %>

    <% # TODO refactor so this workaround isn't necessary %>
    <% if @page != nil %>
        <div class="ml-10 mt-1 text-black">
            <%= button_to "More", { action: "index" }, { method: :get, params: { p: @page + 1 } } %>
        </div>
    <% end %>
</div>
