<div class="mt-2 pr-3">
    <% @stories.each do |story| %>
        <!-- # Story row 1 -->
        <div class="flex flex-row text-hackernews-story-gray">

            <div class="w-6 text-right"><%= story.rank %>.</div>

            <div class="size-[10px] mx-0.5 self-center">
                <a href=<%= root_url %>>
                    <%= image_tag "triangle.svg" %>
                </a>
            </div>

            <div class="text-black mr-1 self-center">
                <a href=<%= story.url %> target="_blank">
                    <%= story.title %>
                </a>
            </div>

            <div class="text-small self-center">
                <%= story.link_domain_name %>
            </div>

        </div>

        <!-- # Story row 2 -->
        <div class="flex flex-row text-hackernews-story-gray text-xsmall">

            <% # TODO: story.score_string functionality belongs only in front-end. %>
            <% # TODO: make user clickable %>
            <div class="ml-10">
            <%= story.score_string %> <%= time_ago_in_words(story.time) %> ago
            </div>

            <div class="mx-1">
                |
            </div>

            <div class="mr-1">
                <a href=<%= root_url %>>hide</a>
            </div>

            <div class="mr-1">
                |
            </div>

            <div>
                <a href=<%= root_url %>>discuss</a>
            </div>
        </div>

    <% end %>
</div>

<%= button_to "More", { action: "index" }, { method: :get, params: { p: @page + 1 } } %>
